
/* CSS Reset */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* End of CSS Reset */

/* Add Border Box to all elements */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Visualize every element with a white box - debugging */
/* * {
    outline: 1px solid whitesmoke !important;
  } */

body {
    margin: 0;
    padding: 0;
    overflow: scroll; /* Show scrollbars */
    font-family: 'Red Rose', cursive;
}

header {
    display: grid;
    justify-items: center;
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 1rem 0 0.5rem 0;
    padding: 0;
}

main {
    display: grid;
    justify-items: stretch;
    justify-content: center;
    text-align: center;
    margin: 0;
    /* padding: 1rem; */
}

/* TODO: refactor/reword */
main div:not(#main-content) {
    margin: 0.5rem;
    padding: 1rem;
    background-color: lightskyblue;
    /* background-color: rgb(43, 41, 41); */
    color: whitesmoke;
    border-radius: 2rem;
    border-color: lightslategray;
    border-width: 2rem;
    /* font-weight: bold; */
}

.new-book-btn {
    display: grid;
    justify-items: center;
}

.new-book-btn button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: orange;
    color: whitesmoke;
    font-size: 1.5rem;
    /* box-shadow: 1.5px 1.5px 2px 1px rgba(0, 0, 255, .2); */
}

.new-book-btn button:hover {
    background-color: lightslategray;
    color: black;
    /* box-shadow: 1.5px 1.5px 2px 1px orange; */
}

/* .form-container {
    padding: 2rem;
} */

form {
    display: none;
    justify-content: center;
    justify-items: center;    
    gap: 0.25rem;
    /* padding: 2rem; */
}

fieldset {
    display: grid;
    justify-items: center;
    border-color: blue;
}

/* form label {
    padding: 0.25rem 0 0 0;
} */

/* form input {
    padding: 0.25rem 0 0 0;
} */